body {
  background-color: rgb(50,50,50);
  margin:0;
  padding:0;
  overflow: hidden;
  position: relative;
}

canvas {
  margin:auto;
}

h1 {
  position: absolute;
  top: 10%;
  width: 100%;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  z-index: 1;
  color: white;
  user-select: none;
  text-align: center;
}

